[Unit]
Description=runbot

[Service]
PassEnvironment=LANG
Type=simple
User=odoo
WorkingDirectory=/home/odoo
ExecStart=/home/odoo/custom_addons/runbot/runbot/example_scripts/runbot/builder.sh
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target

